body {
  font-family: 'Montserrat', sans-serif;
  background: #ffffe0;
  color: #000080;
 
	width: 300px;
  	border: 15px;
  	padding: 50px;
  	margin: auto;
  	width: 50%;
  text-align: justify;
}



h1 {
	font-family: 'Source Serif Pro', serif;
	font-size: 150px;
}

h2{
	font-family:'Source Serif Pro', serif;
	font-size: 40px;
}
h3{
	font-family:'Source Serif Pro', serif;
}


footer {
	text-align:center;
}
